<%- include('../../src/views/layout_header') %>

    <div class="page-header">
        <h2 class="page-title">Dashboard Game</h2>
        <p class="page-desc">maaf belum tersedia</p>
        <a href="/beranda">Kembali</a>
    </div>

<%- include('../../src/views/layout_footer') %>
